<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionexample320220521161750.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f55222e8-53d4-480b-ab67-862b09bcbd02/resourceGroups/CardioApp/providers/Microsoft.Web/sites/FunctionExample320220521161750</ResourceId>
    <UserName>$FunctionExample320220521161750</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionexample320220521161750.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>